<div class="container1 row">
  <div class="col-md-6 bg">
    <p>Build by you and your neighbor</p>
    <p>Keep up with everything around you</p>
    <p>Join nextdoor today</p>
  </div>
  <div class="col-md-6">
    <div class=" content">
      <h1>Welcome to your Nextdoor</h1>
      <br />
      <p class="tip">Create an account or login?</p>
      <div class="btnContainer">
        <a href="/users/register" class="btn btn-block col-md-5 register">Register</a>
        <br />
        <a href="/users/login" class="btn  btn-block col-md-5 login">Login</a>
      </div>
    </div>
  </div>
</div>
<style>
  .container1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .bg {
    background-color: black;
    color: #ffffff;
    padding-top: 16em;
    padding-left: 8em;
  }
  .bg p {
    font-size: 40px;
    font-style: initial;
    margin-bottom: 30px;
  }
  .content {
    margin-top: 16em;
    text-align: center;
  }
  h1 {
    color: #000000;
  }
  .btnContainer {
    padding-left: 90px;
  }
  .tip {
    color: #000000;
  }
  .register {
    display: inline-block;
    margin: 30px 10px 20px 10px;
    height: 50px;
    text-align: center;
    border: 1px solid #000000;
    color: #000000;
    line-height: 35px;
  }
  .login {
    display: inline-block;
    margin: 10px 10px 20px 10px;
    height: 50px;
    text-align: center;
    line-height: 35px;
    background-color: black;
    border: 1px solid #000000;
    color: #fff;
  }
  .btn {
    border-radius: 2.25rem;
  }
</style>
